* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Characters__Container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}
.Search {
    width: 100%;
    height: 40px;
    text-align: center;
}
.Character__Search {
    width: 70%;
    padding: 8px;
    outline: none;
}
.Character__Search.DarkMode {
    width: 70%;
    padding: 8px;
    border: 2px white solid;
    border-radius: 5px;
}
.Favorite__button {
    width: 100%;
    color: white;
    font-size: 20px;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(196, 167, 3);
    padding: 8px;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .5s;
}
.Favorite__button:hover {
    background-color: rgb(168, 143, 2);
    transition: .5s;
}
.Eliminate__button {
    width: 100%;
    color: white;
    font-size: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: rgb(255, 16, 16);
    padding: 8px;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .5s;
}
.Eliminate__button:hover {
    background-color:  rgb(252, 45, 45);
    transition: .5s;
}

.DarkMode {
    color: white;
    background-color: rgb(34, 34, 34);
}
.Characters {
    padding-top: 15px;
    max-width: 1200px;
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
}
.Character__Card {
    width: 100%;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 5px;
}
.Character__Img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    position: relative;
}
.Character__Card.DarkMode {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
}

.Character__title {
    text-align: left;
    width: 100%;
    padding: 15px;
    background: transparent;
    color: transparent;
    transition: .5s;
}
.Character__Stats-list {
    width: 100%;
    position: relative;
    height: 288px;
    text-align: left;
    background: transparent;
    color: transparent;
    list-style: none;
    transition: .5s;
}
.Character__Stats {
    font-size: 18px;
    padding-left: 15px;
}
.Character__Stats-single {
    font-weight: 600;
    font-size: 20px;
}
.Character__Img:hover .Character__Stats-list, .Character__Img:hover .Character__title {
    color: white;
    background:rgba(0, 0, 0, 0.6);
    transition: .5s;
}
.Section__title {
    width: 70%;
    margin: 0 auto
}
.Buttons__container {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.Page__button {
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: rgb(87, 241, 87);
    font-size: 24px;
}